@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cairo:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.details {
  height: 85vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 10px solid #4B5563;
  border-radius: 16px;
  margin: 3rem 8rem;
  padding: 1.5rem 2rem;
}

.details i {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  color: #4B5563;
  font-size: 1.8rem;
  cursor: pointer;
}

.pokemon-img {
  width: 400px;
}

.pokemon-img img {
  width: 100%;
}

.pokemon-details {
  height: 100%;
  overflow: auto;
  padding-right: 1rem;
}

.pokemon-details .box {
  padding: 0.2rem 1.5rem;
  background: #E5E7EB;
  border-radius: 16px;
  margin: 1rem 0;
}


.pokemon-details .box h3 {
  padding: 1rem 0;
  font-size: 1.3rem;
  font-family: 'Bungee Spice', cursive;
}

.pokemon-details .box img {
  background-color: #E5E7EB;
}

/* width */
.pokemon-details::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.pokemon-details::-webkit-scrollbar-track {
  background: #ba000000;
}

/* Handle */
.pokemon-details::-webkit-scrollbar-thumb {
  background: rgba(0, 83, 113, 0.708);
  border-radius: 10px;
}

/* Handle on hover */
.pokemon-details::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0);
}

.ability,
.moves,
.height,
.weight,
.stats {
  font-weight: 800;
}